.diceRow{
    display: flex;
    flex-direction: row;
    justify-items: center;
    border: 2px solid #000;
    border-bottom: none;
    padding: 8px;
    align-items: center;
    background-color:antiquewhite;
}

.diceRow:last-child{
    border-bottom: 2px solid #000;
}

.diceRow form{
    flex-grow: 1;
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    align-items: center;
}

.numberOfDice{

}

.modifierDirection{
    display: flex;
    flex-direction: column;
}

.modifierApplication{
    display: flex;
    flex-direction: column;
}

.modifier{

}

.roll button{
    padding: 6px 10px;
}


.results{
    width: 12%;
    text-align: center;
    font-weight: bold;
}