.diceRow{
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
}

.numberOfDice{

}

.modifierDirection form{
    display: flex;
    flex-direction: column;
}

.modifierApplication form{
    display: flex;
    flex-direction: column;
}

.modifier{

}

.roll{

}


.results{

}