.App{
    min-height: 100vh;
    background-image: url("../public/DragonSmall.png");
    overflow-y: auto;
}

.rollerBody{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 24px auto;
    border: 2px solid #fff;
}

.columnTitles{
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
    justify-items: center;
    background-color: #000;
    color: #FFD770
}

.columnTitles h2{
    font-size: 1.1rem;
}

.resultHolder{
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: auto;
}

.rollResults{
    max-width: 900px;
    margin: 24px auto;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color:antiquewhite;
}

.rollResults h4{
    margin: 0;
    padding: 8px;
    text-align: center;
    background-color: #000;
    color: #FFD770
}

.rollTurn{
    padding: 0 16px;
    border-bottom: 2px solid #000;
}

.rollTurn:last-child{
    border-bottom: none;
}

.rollTurn p{
    margin: 6px 0 6px 0
}